#bani {
    height: 80vh;
    column-width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0.5rem;
    column-gap: 2rem;
    column-fill: auto;
    margin: 0;
}
.config {
    height: 10vh;
    /* border: 1px solid black; */
    display: flex;
    padding: 0 0.5rem;
}
.config button {
    width: 33.33%;
    font-size: 1rem;
    font-family: monospace;
}

.popD {
    position: fixed;
    background-color: white;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    padding: 0.5rem;
    top: 0;
    margin: 0.5rem;
    color: black;
}

.popD > div {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    padding-right: 1.5rem;
}

.popD label {
    margin-right: 0.5rem;
}

@media only screen and (max-aspect-ratio: 0.6/1) {
    .config button {
        font-size: 1rem;
    }
    .popD {
        font-size: 1rem;
    }
    .popD input, .popD button {
        min-width: 2rem;
        min-height: 1rem;
        font-size: 1rem;
        margin: 0 0.5rem;
    }
}

button {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

